{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Add a Book</h1>
    <form method="POST" action="{{ url_for('add_book') }}" class="form-inline justify-content-center">
        <input type="text" name="title" class="form-control mr-2" placeholder="Book Title" required>
        <input type="text" name="author" class="form-control mr-2" placeholder="Author" required>
        <input type="text" name="publisher" class="form-control mr-2" placeholder="Publisher" required>
        <div class="form-group">
            <label for="date_book_finished">Date Finished (MM/YYYY)</label>
            <input type="text" 
                   name="date_book_finished" 
                   class="form-control mb-2" 
                   id="date_book_finished" 
                   placeholder="MM/YYYY"
                   pattern="(0[1-9]|1[0-2])\/[0-9]{4}"
                   title="Please enter date in MM/YYYY format (e.g., 03/2024)">
        </div>
        <input type="text" name="image_url" class="form-control mr-2" placeholder="Image URL (optional)">
        
        <input type="float" name="rating" class="form-control mr-2" placeholder="Rating (0-10)" required>
        <div class="form-group mr-2">
            <label for="genre">Genre</label>
            <select class="form-control" id="genre" name="genre" required>
                <option value="">Select a genre</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mr-2">
            <label for="shelf">Shelf</label>
            <select class="form-control" id="shelf" name="shelf_id">
                <option value="">Wishlist</option>
                {% for shelf in shelves %}
                    <option value="{{ shelf.id }}">{{ shelf.name }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" class="btn btn-primary" value="Add Book">
    </form>
</div>
{% endblock %}
 